/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Allmän styling, fonts, color, background-color */
body {
  font-size: 16px;
}
.container {
  background-color: #E4E3E6;
  font-family: 'Montserrat', sans-serif;
}

header, nav, footer, article, section, aside, figure, form {
	padding: 1em;
	box-sizing: border-box;
}

footer, footer p {
  background-color: #00808F;
  color: #E4E3E6;
}

h1, h2, h3 {
  font-weight: bold;
  color: #00808F;
}

p {
  color: #000000;
}

/* Används för att header bild ska resize automatiskt beroende på skärmbredd */
img {
	max-width: 100%;
	max-height: 100%;
}

/* Länkar */
a {
  text-decoration: none;
  color: #00C5CC;
}
a:visited {
  color: #00808F;
}

a:hover, a:active {
  text-decoration: underline;
}

/* Tabeller */
table, th, td {
	border: 2px groove;
	padding: 5px;
}
th {
	height: 2em;
	vertical-align: middle;
	background-color: #00808F;
  color: #E4E3E6;
}
tr:nth-child(even) {
	background-color: #ffffff;
}

/* Formulär */
fieldset {
	background-color: #ffffff;
	padding: 5px;
	border: 2px groove;
}

form p {
	padding: 5px;
}

input, textarea, select {
	border: none;
	background-color: #E4E3E6;
	padding: 8px;
	outline: none;
	box-sizing: border-box;
}

input:hover, textarea:hover, select:hover {
	border: 2px solid #00808F;
}

input:focus, textarea:focus, select:focus {
	border: 2px solid #00808F;
}

/* För att skicka knappen ska få en rundad kant */
#submit {
	border-radius: 13px;
}

#submit:hover {
	background-color: #00808F;
	color: #E4E3E6;
}

/* Positionera labels över inputfields */
label {
	display: block;
	padding: 2px;
}

/* xs > 600px Mobile */
@media (max-width: 600px) {
	.container {
		display: flex;
		flex-direction: column;
	}
	.xs {
		width: 100%;
	}

	/* xs - paragrafer och rubriker */
	p {
		font-size: 13px;
		margin: 0 0 13px 0;
	}
	h1 {
		font-size: 34px;
		margin: 0 0 13px 0;
	}
	h2 {
		font-size: 21px;
		margin: 0 0 13px 0;
	}

	/* xs - header, footer och nav */
	header, footer {
		text-align: center;
	}

	nav li {
		height: 2em;
		margin: 0 0 2px 0;
	}

  /* xs Tabell - cred till: https://css-tricks.com/responsive-data-tables/ */
  /* Gör att tabellen beter sig som block element */
	table, tr, th, td {
		display: block;
		border: none;
	}
  /* Ta bort table head */
	th {
		display: none;
	}
	tr {
		width: 300px;
	}
	/* Positionera tabelldatan till höger */
	td {
		border-bottom: 2px groove lightgrey;
		position: relative;
		padding-left: 50%;
	}
	/* Gör plats för "table heads" till vänster */
	td:before {
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
	}

	td:nth-of-type(1):before {
		content: "Kurser";
	}
	td:nth-of-type(2):before {
		content: "Vardag/Helg";
	}
	td:nth-of-type(3):before {
		content: "Nivå";
	}
	td:nth-of-type(4):before {
		content: "Max deltagare";
	}
	td:nth-of-type(5):before {
		content: "Pris";
	}

	/* xs Formulär */
	input, textarea, select {
		width: 100%;
	}
	select {
		padding: 8px 0;
	}
}

/* s 600 > < 900px Tablet */
@media (min-width: 601px) and (max-width: 900px) {
	.container {
		display: flex;
		flex-direction: column;
	}
	.s {
		width: 100%;
	}

	/* s - paragrafer och rubriker */
	p {
		font-size: 14px;
		margin: 0 0 16px 0;
	}
	h1 {
		font-size: 34px;
		margin: 0 0 16px 0;
	}
	h2 {
		font-size: 21px;
		margin: 0 0 16px 0;
	}

	/* s - header, footer och nav */
	header, footer {
		text-align: center;
	}

	nav {
		border-bottom: 2px solid #00808F;
		margin-bottom: 16px;
	}

	nav li {
		display: inline-block;
		padding: 16px 16px 0 16px;
	}

	/* s Formulär */
	fieldset {
		width: 440px;
	}
	#pFirstname, #pLastname, #pEmail, #pTelNo, #pCourse, #pDate {
		display: inline-block;
	}
	#pComment, #pSubmit {
		display: block;
	}
	#date {
		width: 10em;
	}
	#submit {
		width: 8em;
	}
}

/* m 900px > < 1200px Tablet Landscape / Small Desktop */
@media (min-width: 901px) and (max-width: 1199px) {
	.container {
		display: flex;
		flex-direction: column;
	}
	.m {
		width: 100%;
	}

	/* m - paragrafer och rubriker */
	p {
		font-size: 16px;
		margin: 0 0 16px 0;
	}
	h1 {
		font-size: 34px;
		margin: 0 0 16px 0;
	}
	h2 {
		font-size: 21px;
		margin: 0 0 16px 0;
	}

	/* m - header, footer, content och nav */
	header, footer {
		text-align: center;
	}

	article.m, section.m, figure.m, aside.m, form.m {
		width: 70%;
		margin: 0 auto;
	}

	nav {
		border-bottom: 2px solid #00808F;
		margin-bottom: 16px;
	}

	nav li {
		display: inline-block;
		padding: 16px 16px 0 16px;
	}

	/* m Formulär */
	fieldset {
		width: 440px;
	}
	#pFirstname, #pLastname, #pEmail, #pTelNo, #pCourse, #pDate {
		display: inline-block;
	}
	#pComment, #pSubmit {
		display: block;
	}
}

/* lg > 1200px Desktop */
@media (min-width: 1200px) {
	.container {
		max-width: 1200px;
		margin: 0 auto;
	}

	/* lg - paragrafer och rubriker */
	p {
		font-size: 16px;
		margin: 0 0 16px 0;
	}
	h1 {
		font-size: 48px;
		margin: 0 0 16px 0;
	}
	h2 {
		font-size: 32px;
		margin: 0 0 16px 0;
	}

	/* lg - header, footer, content och nav */
	header, footer {
		text-align: center;
	}

	article.lg, section.lg, figure.lg, aside.lg, form.lg {
		width: 70%;
		margin: 0 auto;
	}

	nav {
		border-bottom: 2px solid #00808F;
		margin-bottom: 16px;
	}

	nav li {
		display: inline-block;
		padding: 16px 16px 0 16px;
	}

	/* lg Formulär */
	fieldset {
		width: 440px;
	}
	#pFirstname, #pLastname, #pEmail, #pTelNo, #pCourse, #pDate {
		display: inline-block;
	}
	#pComment, #pSubmit {
		display: block;
	}
}
