/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Allmän styling, fonts, color, background-color */
body {
  font-size: 16px;
}
.container {
  background-color: #E4E3E6;
  font-family: 'Montserrat', sans-serif;
}

header, nav, footer, article, section, aside, figure, form {
	padding: 1em;
}

footer, footer p {
  background-color: #00808F;
  color: #E4E3E6;
}

h1, h2, h3 {
  font-weight: bold;
  color: #00808F;
}

p {
  color: #000000;
}

img {
	max-width: 100%;
}

/* Länkar */
a {
  text-decoration: none;
  color: #00C5CC;
}
a:visited {
  color: #00808F;
}

a:hover, a:active {
  text-decoration: underline;
}

/* Tabeller */
table, th, td {
	border: 2px groove;
	padding: 5px;
}
th {
	height: 2em;
	vertical-align: middle;
	background-color: #00808F;
  color: #E4E3E6;
}
tr:nth-child(even) {
	background-color: #ffffff;
}

/* Formulär */
fieldset {
	background-color: #ffffff;
	padding: 5px;
	border: 2px groove;
}

form p {
	padding: 5px;
}

input, textarea, select {
	border: none;
	background-color: #E4E3E6;
	padding: 8px;
	outline: none;
	box-sizing: border-box;
}

input:hover, textarea:hover, select:hover {
	border: 2px solid #00808F;
}

input:focus, textarea:focus, select:focus {
	border: 2px solid #00808F;
}

#submit {
	border-radius: 13px;
}

#submit:hover {
	background-color: #00808F;
	color: #E4E3E6;
}

label {
	display: block;
	padding: 2px;
}

/* > 600px Mobile */
@media (max-width: 600px) {
	.container {
		display: flex;
		border: 2px solid red;
	}
}

/* < 600 & > 900px Tablet */
/* < 900px & > 1200px Tablet Landscape / Small Desktop */
/* < 1200px Desktop */
